<div class="sidebar" id="sidebar">
  <div class="logo">
    <h2>
      <i class='bx bx-menu' id="menu-toggle"></i>
      <span class="app-name">Gest.congés</span>
    </h2>
  </div>
  <ul class="nav-links">
    <li><a href="/navigationuser/tableaubord"><i class='bx bx-home'></i><span>Tableau de bord</span></a></li>
    <li><a href="/gestiondemande"><i class='bx bx-list-ul'></i><span>Gestion de demande</span></a></li>
    <li><a href="/navigationuser/calendrierconge"><i class='bx bx-calendar'></i><span>Calendrier</span></a></li>
    <li>
      <a href="/navigationuser/notificationuser" style="position: relative;">
        <i class='bx bx-bell'></i>
        <span>Notifications</span>
        <span id="notification-badge" style="
          display:none;
          position: absolute;
          top: 0;
          right: 0;
          background-color: #e74c3c;
          color: white;
          border-radius: 50%;
          padding: 2px 7px;
          font-size: 12px;
          font-weight: bold;
          ">
          0
        </span>
      </a>
    </li>
    
    <li><a href="/profil/pro"><i class='bx bx-user'></i><span>Profil</span></a></li>
    <li><a href="/deconnexion"><i class='bx bx-log-out'></i><span>Déconnexion</span></a></li>
  </ul>
</div>
